@charset "utf-8";

/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 80%;
    height: 1000px;
    background: url("/images/kireinakirin image.jpg") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    position: relative;

}
.cover .cover-inner .cover-contents h1 {
    margin: 80px 0px 20px 80px;
    padding:1px 15px;
    color: white;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 0.08em;
    background:#FF6699;
    /*box-shadow: 0px 0px 0px 5px #FFCC99;*/
    border:dashed 2px white;
    /*border-radius: 35px;*/
    font-family: sans-serif;
}
.cover .btn btn-success btn-lg{
    margin-top: 110px;
    background-color: #ed486f;
    border-color: #ed486f;
     
}
.btn-original{
    background:none;
    border:none
}

.navbar-original{
    background:#90ee90;
    color: white;
    font-size: large;
    font-weight: bold;
    
}

a.jet {  
  color: inherit;
}


.btn-original.focus,.btn-original:focus{
}


.btn-original:hover{
    filter:alpha(opacity=80);
    opacity:0.7;
}

.btn-original.active,.btn-original:active,.open>.dropdown-toggle.btn-original{
}

.btn-original.active.focus,.btn-original.active:focus,.btn-original.active:hover,.btn-original:active.focus,.btn-original:active:focus,.btn-original:active:hover,.open>.dropdown-toggle.btn-original.focus,.open>.dropdown-toggle.btn-original:focus,.open>.dropdown-toggle.btn-original:hover{
}

.btn-original.active,.btn-original:active,.open>.dropdown-toggle.btn-original{
}

.color-blue{
    color:#FAAC58;
}



